<article class="hero">
  <header>
    <hgroup>
      <h1>{{ site.Data.home.hero.heading }}</h1>
      <p>{{ site.Data.home.hero.subheading }}</p>
    </hgroup>
  </header>
  <figure>
  <img alt="" src="/images/comic-book-cover.png"/>
</figure>
</article>
