:root {
  color-scheme: light dark;
  --max-width-content: 768px;
  --white: oklch(1 0 0);
  --lightgray: oklch(0.9764 0.0013 286.38);
  --gray: oklch(0.9489 0.0029 264.54);
  --black: oklch(0 0 0);
  --blue: oklch(0.5973 0.1402 254.51);
  --red: oklch(0.6341 0.221 15.91);
  --brand-logo-width: 4rem;
  --base-header-height: var(--barnd-logo-width);
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--white);
  color: var(--black);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--blue);
  text-decoration: none;
}

body > header {
    --bg-color: var(--lightgray);
    height: var(--base-header-height);
  background-color: var(--bg-color);
  border-bottom: 1px solid oklch(from var(--bg-color) 0.8 c h);
  padding: 0 3rem;
  > nav {
    max-width: var(--max-width-content);
    margin: auto;
    font-size: 16pt;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-items: center;
    font-weight: bold;
    a.logo > img {
      aspect-ratio: 1;
      width: var(--brand-logo-width);
    }
    a:hover {
      color: oklch(from var(--blue) 0.7 c h);
    }
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 1rem;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    a[href="/contact"] > button {
      padding: 1rem;
      background-color: oklch(from var(--red) l c h / 0.2);
      color: oklch(from var(--red) l c h);
      border: 1px solid oklch(from var(--red) l c h);
      border-radius: 10%;
      cursor: pointer;
      box-shadow: 0 0 5px var(--black);
    }
    a[href="/contact"]:hover > button {
      color: oklch(from var(--red) 0.7 c h);
      border-color: oklch(from var(--red) 0.7 c h);
    }
  }
}

body > main {
    > section {
	margin: auto;
	max-width: var(--max-width-content);
    }

    section#hero {
	max-width: initial;
	margin: 0 5rem;
	padding: 3rem 0;
    }
	
    article.hero {
	display: flex;
	justify-content: center;
	gap: 5rem;
	> header,
	> figure {
	    	    margin: auto;
	}
	> header {
	    margin: auto;
	    > hgroup {
		h1 {
		    font-size: 3em;
		}
		p {
		    font-size: 1.5em;
		}
	    }
	}
	> figure {
	    > img {
		height: 100%;
		width: auto;
		
	    }
	}
    }
}

body > footer {
  margin-top: auto;
  padding: 0.5rem;
  > #copyright {
    text-shadow: 0 3px 3px var(--gray);
    padding: 1rem;
    width: fit-content;
    margin: auto;
  }
}
