:root {
  color-scheme: light dark;
  --color-neutral-light: oklch(0.9412 0.0049 247.3);
  --color-neutral-dark: oklch(0.1677 0.0049 247.3);
  --color-blue-light: oklch(0.7411 0.14 247.3);
  --color-blue-dark: oklch(0.6353 0.1801 253.06);
  --color-anchor: light-dark(
    var(--color-neutral-dark),
    var(--color-neutral-light)
  );
  --bg-primary-light: var(--color-blue-light);
  --bg-primary-dark: var(--color-blue-dark);
  --font-primary: "Helvetica", "Arial", sans-serif;
  --trans-rate-primary: 0.35s;
}

h1 {
  text-wrap: balance;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100svh;
  font-family: var(--font-primary);
  > header {
    width: 100%;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0 1px 1px;
  }
  > main {
    display: block;
  }
  > footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
    background: linear-gradient(#fff, #5dd9fb, #036ee0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    > * {
      margin: auto;
    }
    a {
      text-decoration: none;
    }
  }
}

body > header > nav {
  img.brand.logo {
    width: 50px;
    height: auto;
    background: #fff;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    li:last-child {
      margin-left: auto;
    }
  }
  a,
  a:visited {
    color: var(--color-anchor);
    text-decoration: none;
    &.active {
      font-weight: 600;
      /* border-bottom: 2px solid var(--color-anchor); */
    }
    &:hover {
      --relative-color: oklch(from var(--color-anchor) 0.75 c h);
      color: var(--relative-color);
      border-color: var(--relative-color);
    }
    transition:
      color var(--trans-rate-primary) ease,
      border-color var(--trans-rate-primary) ease;
  }
  button {
    --color: light-dark(#fff, var(--color-neutral-dark));
    --bg: light-dark(var(--bg-primary-dark), var(--bg-primary-light));
    color: var(--color);
    background: var(--bg);
    border: 2px solid;
    border-color: oklch(from var(--bg) 0.5 c h);
    padding: 0.35rem 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: oklch(from var(--bg) 0.8 c h);
    }
    transition: all var(--trans-rate-primary) ease;
  }
}

.content-grid {
  display: grid;
  grid-template-columns:
    [full-width-start] 2rem
    [expand-start] 1fr
    [content-start] 4fr
    [content-end] 1fr
    [expand-end] 2rem
    [full-width-end];
  > * {
    grid-column: content-start / content-end;
  }
  > .expand {
    grid-column: expand;
  }
}

section.hero {
  background: linear-gradient(#fff, #5dd9fb, #5dd9fb, #5dd9fb);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
article.hero {
  padding: 2rem;
  h1 {
    margin: 0;
  }
  header {
    text-align: center;
    margin-bottom: 1.5rem;
    background-color: #fff;
    padding: 2rem;
    border: 1px solid;
    border-radius: 10px;
    text-align: left;
    background: linear-gradient(to top, #fff, lightyellow);
    color: #333;
  }
  figure {
    max-width: 500px;
    margin: auto 4rem;
    box-shadow: 0px 3px 18px;
  }
  @media screen and (width > 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    header {
      @media screen and (width > 1280px) {
        font-size: 1.75em;
      }
      margin: auto;
      text-align: left;
      max-width: 768px;
    }
    figure {
      grid-column: 2 / 3;
      margin: auto;
    }
  }
}

section#services {
  text-align: center;
  padding: 2rem 0;
  background: linear-gradient(#5dd9fb, #5dd9fb, #5dd9fb, #fff);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  > h1 {
    margin-bottom: 2rem;
    color: #fff;
    text-shadow: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 2rem;
  }
  > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    li {
      margin: auto;
    }
    margin-bottom: 2rem;
  }
  article.serviceCard {
    border: 2px solid;
    width: fit-content;
    overflow: hidden;
    box-shadow: 0px 1px 1px 1px #333;
    @media screen and (width > 1280px) {
      min-width: 400px;
    }
    border-radius: 15px;
    > header {
      display: grid;
      gap: 1rem;
      grid-template-columns: auto 1fr;
      border-bottom: 1px solid;
      padding: 0.73rem 1.5rem;
      background-color: light-dark(#f4f4f4, #036ee0);
      > svg {
        color: light-dark(initial, #fff);
        margin: auto;
        width: 50px;
        height: auto;
      }
      h1 {
        font-size: 1.25em;
        margin-bottom: initial;
      }
    }
    main {
      padding: 1rem;
      background-color: light-dark(#fff, #333);
      color: light-dark(#000, #fff);
      ul {
        text-align: left;
        list-style: disc;
        padding-left: 1em;
        display: flex;
        flex-direction: column;
        li {
          margin: initial;
        }
      }
    }
  }
}
